<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Switchlist</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link th:href="@{SwitchStyle.css}" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Switchlist</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/equipment}">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/equipment/new}">New Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/track}">Track</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<body>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card text-white bg-secondary">
      <h1 class = "text-center"> Create New Equipment </h1>
      <div class = "card-body">
        <form th:action="@{/equipment}" th:object = "${equipment}" method = "POST">
          <div class = "form-group">
            <div class = "form-group">
              <label> Reporting Mark </label>
              <input
                      type = "text"          <!-- add regex javascript possibly to validate AAAA000000 structure -->
                      name = "reportingMark"
                      th:field = "*{reportingMark}"
                      class = "form-control"
                      placeholder = "Enter Reporting Mark"
                      id="validationDefault01" required
              />
            </div>

            <div class = "form-group">
              <label> Current Location </label>
              <select
                      name = "currentLocation"
                      th:field = "*{currentLocation}"
                      class = "form-control"
                      placeholder = "Enter Current Location"
              >
                <option th:each = "track: ${track}" th:value="${track.trackName}" th:text="${track.trackName}"></option>
              </select>
            </div>

            <div class = "form-group">
              <label> Future Location </label>
              <select
                      name = "futureLocation"
                      th:field = "*{futureLocation}"
                      class = "form-control"
                      placeholder = "Enter Future Location"
              >
                <option th:each = "track: ${track}" th:value="${track.trackName}" th:text="${track.trackName}"></option>
              </select>
            </div>
            <div class = "form-group">
              <label> Load Status </label>
              <input
                      type = "checkbox"
                      name = "loadStatus"
                      th:field = "*{loadStatus}"
                      class = "form-control"
                      placeholder = "Equipment Loaded?"
              />
            </div>
            <div class = "form-group">
              <label> Type ID </label>
              <input
                      type = "text"
                      name = "typeId"
                      th:field = "*{typeId}"
                      class = "form-control"
                      placeholder = "Enter Type ID"
                      id="validationDefault02" required
              />
            </div>
            <div class = "form-group">
              <label> Length </label>
              <input
                      type = "text"
                      name = "length"
                      th:field = "*{length}"
                      class = "form-control"
                      placeholder = "Enter Length in feet"
                      id="validationDefault03" required
              />
            </div>
            <div class = "form-group">
              <label> Owner ID </label>
              <input
                      type = "text"
                      name = "ownerId"
                      th:field = "*{ownerId}"
                      class = "form-control"
                      placeholder = "Enter Owner ID"
                      id="validationDefault04" required
              />
            </div>
          <div class = "box-footer">
            <button type = "submit" class = "btn btn-dark">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>