<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Switchlist</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link th:href="@{SwitchStyle.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Switchlist</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/equipment}">Equipment List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/equipment/new}">New Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/track}">Track</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card" >
        <div class="card-body text-white bg-danger" >
            <h4> You cannot delete a Track that has Equipment on it. </h4>
            <h4> Please remove Equipment from the Track before deleting it. </h4>
            <a class="btn btn-secondary" th:href="@{/equipment}">Return to Equipment List</a>
        </div>
    </div>
</div>
</body>
